.boxside {
    height: 55vw;
    box-shadow: 10px 10px #646464;
    background-color: #FFDD67;
    width: 75%;
    font-family: "Space Mono", monospace;
    font-size: 0.95em;
}

.right {
    overflow-y: auto;

}


.bi-question-square {
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
    box-shadow: 10px 10px #646464;
    transition: all 500ms;
    border-radius: 7px;
}

.bi-question-square:hover {
    background-color: #e1dfd8;
    box-shadow: 5px 5px #646464;

}

#textinput {
    background-color: #FFDD67;
    resize: none;
    border: none;
    outline: none;
    color: #4A4A4A;
}

.activeHelp {
    box-shadow: none;
    background-color: aliceblue;
}